.scroll-container {
    overflow-x: scroll;
    width: 100%;
  }
  
  .content-test {
    // width: 1000px;
    height: 800px; /* Optional: Add height for content */
    background-color: #f0f0f0; /* Optional: Add a background color for visibility */
  }


  body {
    padding-top: 80px; /* Adjust this value based on the height of your fixed header */
  }

  div {
    margin: 0 auto;
    max-width: 900px;
  }