<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Angular App</title>
  <!-- Add your CSS stylesheets and other dependencies here -->
</head>

<body>
  <!-- Header -->
  <header>
    <h1 class="fixed-top text-center bg-warning-subtle">Fat Cavitation</h1>
  <!-- 
    <nav>
      navs as list items
      <ul ngbNav class="nav-tabs">
        <li ngbNavItem>
          <button ngbNavLink>Button</button>
        </li>
        <li ngbNavItem>
          <a ngbNavLink>Link</a>
        </li>
      </ul>

      navs without list
      <div ngbNav class="nav-tabs">
        <ng-container ngbNavItem>
          <button ngbNavLink>Button</button>
        </ng-container>
        <ng-container ngbNavItem>
          <a ngbNavLink routerLink="/about">Link</a>
        </ng-container>
      </div>
    </nav>
  -->
  </header>
  <div class="scroll-container">
    <div class="content-test">
      <!-- Your content goes here -->
    </div>
  </div>

  <!-- Main Content Area -->
  <div class="container">
    <router-outlet></router-outlet>
  </div>

</body>

</html>