<div class="d-flex flex-nowrap justify-content-center ">
    <div>
    <ngb-carousel
      #carousel
      [interval]="4000"
      (slide)="onSlide($event)"
    >
      <ng-template ngbSlide *ngFor="let img of images; index as i">
        <div class="carousel-caption">
          <h3>My slide {{i + 1}} title</h3>
        </div>
        <a href="https://www.google.fr/?q=Number+{{i+1}}" target="_blank" rel="nofollow noopener noreferrer">
          <div class="picsum-img-wrapper text-center">
            <img class="img-fluid" [src]="img" alt="My image {{i + 1}} description" />
          </div>
        </a>
      </ng-template>
    </ngb-carousel>
    <hr />

    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatum cupiditate ipsam sunt dolore esse ea sed voluptate quasi. Fuga ea deserunt, debitis voluptatibus iusto delectus iste similique impedit repellat natus?
  </div>
</div>